<div *ngIf="formState === 'login'" id="signup-login" class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<md-card>
				<md-card-header>
					<md-card-title><h3>Would you like to login?</h3></md-card-title>
				</md-card-header>
				<md-card-content>
					<form accept-charset="UTF-8" role="form">
						<div class="form-group">
							<input class="form-control" placeholder="E-mail/Username" [(ngModel)]="login" name="login" type="text">
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Password" [(ngModel)]="password" name="password" type="password" value="">
						</div>
						<p class="text-center">Don't have an account? Sign up for one <a (click)="changeFormState('signup')">here!</a></p>
						<button md-raised-button color="warn" (click)="loginUser()">Login</button>
					</form>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>

<div *ngIf="formState === 'signup'" id="signup-login" class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<md-card>
				<md-card-header>
					<md-card-title><h3>Would you like to login?</h3></md-card-title>
				</md-card-header>
				<md-card-content>
					<form accept-charset="UTF-8" role="form">
						<div class="form-group">
							<input class="form-control" placeholder="E-mail" name="email" [(ngModel)]="email" type="text">
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Username" name="username" [(ngModel)]="username" type="text">
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Password" name="password" type="password" [(ngModel)]="password" value="">
						</div>
						<p class="text-center">Already have an account? Login <a (click)="changeFormState('login')">here!</a></p>
						<button md-raised-button color="warn" (click)="register()">Register</button>
					</form>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>