<div class="container">
    <section class="thread">
        <div class="row">
            <h2>Recent Threads</h2>
            <div *ngFor="let thread of threads" class="col-xs-12 col-md-4">
                <md-card class="example-card">
                    <md-card-header>
                        <div md-card-avatar>
                            <md-icon md-list-icon>person</md-icon>       
                        </div>
                        <md-card-title>{{thread.username}}</md-card-title>
                        <md-card-subtitle>{{thread.title}}</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image class="thumb" src="http://www.kigurumionline.org/gallery/images/gallerySmallPlaceholder.png">
                    <md-card-actions>
                        <a [routerLink]="['/thread', thread._id]" md-raised-button>Visit</a>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </section>
    <hr> 
    <md-card>
        <h2> Features: </h2>
        <md-list>
            <md-list-item>
                <md-icon md-list-icon>forward</md-icon>
                <h3 md-line> Dynamic Content </h3>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon>forward</md-icon>
                <h3 md-line> JWT User Authentication </h3>
            </md-list-item>       
            <md-list-item>
                <md-icon md-list-icon>forward</md-icon>
                <h3 md-line> Message Board </h3>
            </md-list-item>   
        </md-list>
        <button md-raised-button color="warn"*ngIf="!_authService.loggedIn()">Sign up</button>
        <p>
            Written by Michael Clark, Michael's Palace is a simple message board utilizing modern technologies. 
        </p>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h2>Node JS</h2>
                <p>Michael's Palace utilizes Node.JS & Express to power its backend resulting in blistering speeds.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h2>Angular 2</h2>
                <p>Using Angular 2, Michael's Palace is equipped with the tools needed to display modern, dynamic content.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h2>Material Design</h2>
                <p>Michael's Palace employs Google's design principles to give the user a seamless experience.</p>
            </div>
        </div>
    </md-card>
</div>