<md-toolbar color="primary">
        <a [routerLink]="['']" md-button><p>Michael's Palace</p></a>
        <span class="spacer"></span>
        <a [routerLink]="['/categories']"md-button>
            <p>Categories</p>
        </a>    
        <button md-button disabled><p>Admin Panel</p></button>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>portrait</md-icon>
        </button>
        <md-menu #menu="mdMenu">
        <a [routerLink]="['/register']" md-menu-item *ngIf="!_authService.loggedIn()">
            <md-icon icon-20> person </md-icon>
            <span> Login/Signup </span>
        </a>
        <button md-menu-item disabled *ngIf="_authService.loggedIn()">
            <md-icon> mood </md-icon>
            <span> Profile </span>
        </button>
        <button (click)="logout()" md-menu-item *ngIf="_authService.loggedIn()">
            <md-icon> person outline </md-icon>
            <span> Logout </span>
        </button>    
        </md-menu>
</md-toolbar>
